<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Algorithm App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#docs">Docs</a></li>
            <li class="active"><a href="#dashboard">Dashboard</a></li>
            <li><a href="#profile">Profile</a><i class="fa fa-user" aria-hidden="true"></i></li>
            <li><a href="#home">Logout</a></li>
        </ul>
    </div>
</nav>

    <div class="wrap" ng-controller="algorithmCtrl">
        <div class="left-col">
            <div class="container">
                <h5><strong>{{current_algo.name}}</strong> <span class="pull-right">Time Left:</span></h5>
                <blockquote>
                    <strong>{{current_algo.algorithm}}</strong>
                </blockquote>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" g-model="newSolution.solution"></textarea>
                                <label for="textarea1">Your Solution</label>
                                <button class="waves-effect waves-light btn red" type="submit" name="button" ng-click="check()">Check</button>
                            </div>
                        </div>
                    </form>

                </div>
        </div>
        </div>
        <div class="right-col">
                <h6><i class="glyphicon glyphicon-question-sign"></i><strong>SOME OTHER NAMES</strong></h6>

                <div class="chat_room">
                    <P>Ready..set...conversate!</P>
                        <div class="chat ">

                            <div ng-repeat="message in messages">
                                <p >&#9786; {{message.name}}:</p>
                                     <p class="custom">
                                         &#x268A; {{message.message}}
                                     </p>
                                     <hr>
                            </div>
                    </div>
                </div>


                <form id="message_form">
                    <textarea class="u-full-width" id="message" name="message" ng-model="message.text"></textarea>
                    <a class="btn right"  ng-click="sendMessage(current_user[0].name)">Submit</a>
                </form>
        </div>
    </div>
