
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Algorithm App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#docs">Docs</a></li>
        <li class="active"><a href="#dashboard">Dashboard</a></li>
        <li><a href="#profile">Profile</a><i class="fa fa-user" aria-hidden="true"></i></li>
        <li><a href="#home">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" ng-controller="algorithmCtrl">
 Welcome, name!



 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-log-out"></i><i class="glyphicon glyphicon-log-in"></i>ARRAYS</div>
      <div class="collapsible-body">
        <div ng-repeat="array in arrays">
          <a href="/show/{{array._id}}">{{array.name}}</a><br>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>STRINGS</div>
      <div class="collapsible-body">
        <div ng-repeat="string in strings">
          <a href="/show/{{string._id}}">{{string.name}}</a><br>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-registration-mark"></i><i class="glyphicon glyphicon-copyright-mark"></i>SINGLY LINKED LISTS </div>
      <div class="collapsible-body">
        <div ng-repeat="sll in slls">
          <a href="/show/{{sll._id}}">{{sll.name}}</a><br>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-bitcoin"></i><i class="glyphicon glyphicon-grain"></i>BINARY SERACH TREE</div>
      <div class="collapsible-body">
        <div ng-repeat="bst in bsts">
          <a href="/show/{{bst._id}}">{{bst.name}}</a><br>
        </div>
      </div>
    </li>
  </ul>
</div>
