
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Algorithm App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#docs">Docs</a></li>
        <li class="active"><a href="#dashboard">Dashboard</a></li>
        <li><a href="#profile">Profile</a><i class="fa fa-user" aria-hidden="true"></i></li>
        <li><a href="#home">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
 Welcome, name!



 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-log-out"></i><i class="glyphicon glyphicon-log-in"></i>ARRAYS</div>
      <div class="collapsible-body">
        <div class="container">
          <a href="#dashboard">1</a><br>
          <a href="#dashboard">2</a><br>
          <a href="#dashboard">3</a><br>
          <a href="#dashboard">4</a><br>
          <a href="#dashboard">5</a><br>
          <a href="#dashboard">6</a><br>
          <a href="#dashboard">7</a><br>
          <a href="#dashboard">8</a>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>STRINGS</div>
      <div class="collapsible-body">
        <div class="container">
          <a href="#dashboard">1</a><br>
          <a href="#dashboard">2</a><br>
          <a href="#dashboard">3</a><br>
          <a href="#dashboard">4</a><br>
          <a href="#dashboard">5</a><br>
          <a href="#dashboard">6</a><br>
          <a href="#dashboard">7</a><br>
          <a href="#dashboard">8</a>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-registration-mark"></i><i class="glyphicon glyphicon-copyright-mark"></i>SINGLY LINKED LISTS </div>
      <div class="collapsible-body">
        <div class="container">
          <a href="#dashboard">1</a><br>
          <a href="#dashboard">2</a><br>
          <a href="#dashboard">3</a><br>
          <a href="#dashboard">4</a><br>
          <a href="#dashboard">5</a><br>
          <a href="#dashboard">6</a><br>
          <a href="#dashboard">7</a><br>
          <a href="#dashboard">8</a>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="glyphicon glyphicon-bitcoin"></i><i class="glyphicon glyphicon-grain"></i>BINARY SERACH TREE</div>
      <div class="collapsible-body">
        <div class="container">
          <a href="#dashboard">1</a><br>
          <a href="#dashboard">2</a><br>
          <a href="#dashboard">3</a><br>
          <a href="#dashboard">4</a><br>
          <a href="#dashboard">5</a><br>
          <a href="#dashboard">6</a><br>
          <a href="#dashboard">7</a><br>
          <a href="#dashboard">8</a>
        </div>
      </div>
    </li>
  </ul>
</div>
