<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Algorithm App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a href="#docs">Docs</a></li>
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#home">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">

<h1>The Basics of Coding</h1>

<h5>What are Algorithms?</h5> <!-- title -->

<p>Lorem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo reque. Mea in libris possit animal, molestie conclusionemque eos te, error melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

  Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

  An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

  Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem mediocrem eu pro. Per consetetur posidonium comprehensam eu, epicuri praesent et usu.

  Labore vivendo interesset et eam, unum tempor sanctus has ne. Urbanitas efficiendi per et, eu has quas voluptaria. Diam persius nominavi sit no, quidam fastidii perpetua mel ex. Ex rebum falli nihil eam, et augue saepe officiis quo.</p>
  <code>
    for (var num = 1; num < 6; num = num + 1)
    {
      console.log("I'm counting! The number is ", num);
    }
  </code>

  <h5>Okay, so what's a function?</h5> <!-- title -->

  <p>Lorem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo reque. Mea in libris possit animal, molestie conclusionemque eos te, error melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

    Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.</p>
    <code>
      function printMyName( )
      {
        console.log("My name is Martin");
      }
    </code>

    <h5>What's a Variable?</h5>   <!-- title -->

    <p>Lorem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo reque. Mea in libris possit animal, molestie conclusionemque eos te, error melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

      Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.</p>

      <code>
        var animal = "Tiger"
      </code>

      <p>orem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo reque. Mea in libris possit animal, molestie conclusionemque eos te, error melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo, illud luptatum oporteat at his, nam quand</p>

      <h5>What are Conditionals?</h5> <!-- title -->

      <p>orem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo reque. Mea in libris possit animal, molestie conclusionemque eos te, error melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo, illud luptatum oporteat at his, nam quand</p>

      <code>
        if (myName == "Martin")
        {
          console.log("Hey there Martin, how's it going?");
        }
        else
        {
          console.log("Greetings Earthling.  Have a great day!");
        }
      </code>

      <h5>Okay, Let's talk about Loops!</h5> <!-- title -->

      <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

        Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

        An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

        Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem mediocrem eu pro. Per consetetur, include about Break and continue</p>

        <code>
          for(var i=0; i < 53; i++);
        </code>

        <h5>Let's talk about Arrays!</h5> <!-- title -->

        <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

          Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

          An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

          Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem mediocrem eu pro. Per consetetur </p>

          <code>
            var x = [1,24,5,7];
          </code>

          <h5>Parameters a</h5> <!-- title -->

          <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam adversarium concludaturque nam at.

            Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

            An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

            Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem mediocrem eu pro. Per consetetur </p>

            <code>
              var x = [1,24,5,7];
            </code>

            <h5>Now let's print or Console.log</h5> <!-- title -->

            <p> eritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

              An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

              Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu </p>

              <code>
                Console.log(x);
              </code>

              <h5>Comments</h5>
              <p>s volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret ne nam.

                An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet insolens.

                Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent virtute mea,
              </p>

                <code>
                  function greetSomeone(person)
                  {
                    if (person == "Martin")        //  Check whether the person is Martin
                    {
                      console.log("Hey there Martin, how's it going?");
                    }
                    else                          //  If it isn't Martin, then it's probably a normal human....
                    {
                      console.log("Greetings Earthling.  Have a great day!");
                    }
                  }
                </code>
              </div>
