<nav>
  <div class="nav-wrapper"> <a class="brand-logo">Algorithm App</a> <ul
    id="nav-mobile" class="right hide-on-med-and-down"> <li class="active"><a
      href="#docs">Docs</a></li> <li><a href="#dashboard">Dashboard</a></li> <li><a
        href="#profile">Profile</a></li> <li><a href="#home">Logout</a></li> </ul>
  </div>
</nav>
    <div class="container">

      <h1>Basic Algorithms</h1>

      <!-- *** ALGORITHMS **** -->

      <h5>What are Algorithms?</h5>

      <p>So what is an algorithm? An <a href="http://bit.ly/1ud1l98">algorithm</a> are a set of instructions or rules specifiying how to solve some problems. For example,
        you're baking a cake. In order for the cake to taste like cake we need to follow the ingredients.
        If we don't follow the ingredients then the cake might not taste like a cake. It might give you a weird taste.
        Algorithms are like ingredients to follow. In order for the computer to do it's job it needs to follow instructions.
        And that is where we come in as software engineers. We provide the instructions, or ingredient in order for the
        computer to do its job. When the computer reads our code. It reads line by line until the end of it. Below is an example of
        an algorithm.
        </p>

        <code> function sum_even(){ <br>
          var sum = 0;<br>
          for(var i = 1; i < 100; i++){<br>
          if(i % 2 === 0)<br>
          sum = sum + i;<br>
          console.log(sum);<br>
          }<br>
        </code>

          <!-- **** FUNCTION ***** -->

          <h5>Okay, so what's a function?</h5>

          <p>So a <a href="http://www.mathopenref.com/functionsprog.html">function</a> is a block of code, a set of intructions implementing in an algorithm. So when you call a function,
            the function will run. For example, let's look at the example below. Open up your browser and right click on
            the page and click inspect. Another shortcut to take if you have a mac is by holding
            down command and the option button then by pressing the I button, inspect element will pop up.
            If you have a window, well that just sucks cos I don't have a window. So figure it out or google it.
            Back to those who have a mac, copy and paste it onto the console and watch it give the output "James".
            So when we call the printMyName(), we won't have to rewrite the block of code again.
            </p>
            <code> function printMyName() <br>
              { <br>
              console.log("James"); <br>
              } <br>
            </code>

            <!-- **** VARIABLES **** -->

              <h5>What's a Variable?</h5>

              <p>So let's say we have three bags and three items. One is a book, another is a watch and last, is a phone.
                We store the first item, which is a book and put it in the bag and label the bag. We do the same with
                the watch and phone and label the bag. If we have more to store we need more containers. We then close the
                bag. From this example, this is essentially what a variable does. A variable is a stored information that
                we can refer or manipulate. it can store a string, an array or an object. By looking back at the code below
                we set animal to equal to tiger. So now we labeled animal to equal to tiger.
              </p>

                <code>
                  var animal = "Tiger"
                </code>

                  <!-- **** LOOPS **** -->

                  <h5>Okay, Let's talk about Loops!</h5>

                  <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor
                    volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam
                    adversarium concludaturque nam at.

                    Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr
                    scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur
                    intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset
                    intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam
                    epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret
                    ne nam.

                    An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut tantas
                    scaevola vis. In per propriae concludaturque, quas dicta sea an, no minim laudem
                    mei. Summo scribentur has ea, vel ne mollis menandri praesent. An mel movet
                    insolens.

                    Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent
                    virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus.
                    Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem mediocrem
                    eu pro. Per consetetur, include about Break and continue</p>

                    <code>
                      function array_loop(); <br>
                      var x = []; <br>
                      for(var i=0; i< 234; i++);  <br>
                      x.push(i);  <br>
                      } <br>
                      console.log(x); <br>
                      } <br>
                    </code>

                    <!-- ***** PARAMETERS ***** -->

                    <h5>Parameters</h5>

                    <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te. Tempor
                      volumus invenire nam in, mei quis dicit et. Ius dico autem at, numquam
                      adversarium concludaturque nam at.

                      Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at. Mei
                      elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur
                      intellegebat. Vix tacimates tincidunt intellegam ut, quo graece maluisset
                      intellegat an, cu inani sanctus pro. An oblique euripidis his, ei aliquam
                      epicuri percipit eum. Ei explicari evertitur incorrupte nec, denique ocurreret
                      ne nam.

                      An duo malis epicuri consequat, duo timeam temporibus consequuntur an. Ut
                      tantas scaevola vis. In per propriae concludaturque, quas dicta sea an, no
                      minim laudem mei. Summo scribentur has ea, vel ne mollis menandri praesent. An
                      mel movet insolens.

                      Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum essent
                      virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul theophrastus.
                      Nam vide saperet eloquentiam ex. Zril deserunt volutpat id usu, laudem
                      mediocrem eu pro. Per consetetur </p>

                      <code>
                        var x = [1,24,5,7];
                      </code>

                      <!-- **** CONDITIONALS ***** -->

                      <h5>What are Conditionals?</h5>

                      <p>orem ipsum dolor sit amet, usu suscipit copiosae no, vis ea habeo
                        reque. Mea in libris possit animal, molestie conclusionemque eos te, error
                        melius persequeris duo id. Pro ad copiosae apeirian. Nisl reque in quo,
                        illud luptatum oporteat at his, nam quand</p>

                        <code> if (myName == "Martin") <br>
                          { <br>
                            console.log("Hey there Martin,how's it going?"); <br>
                          } <br>
                          else  <br>
                          { <br>
                          console.log("Greetings Earthling. Have a great day!"); <br>
                          } <br>
                        </code>

                          <!-- **** ARRAYS **** -->

                          <h5>Let's talk about Arrays!</h5>

                          <p> quo, illud luptatum oporteat at his, nam quando ullamcorper te.
                            Tempor volumus invenire nam in, mei quis dicit et. Ius dico autem at,
                            numquam adversarium concludaturque nam at.

                            Veritus volumus sensibus qui an, has nominavi ponderum efficiantur at.
                            Mei elitr scripta sententiae no, erat nominati ne sea. Ei vix luptatum
                            consetetur intellegebat. Vix tacimates tincidunt intellegam ut, quo
                            graece maluisset intellegat an, cu inani sanctus pro. An oblique
                            euripidis his, ei aliquam epicuri percipit eum. Ei explicari evertitur
                            incorrupte nec, denique ocurreret ne nam.

                            An duo malis epicuri consequat, duo timeam temporibus consequuntur an.
                            Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea
                            an, no minim laudem mei. Summo scribentur has ea, vel ne mollis
                            menandri praesent. An mel movet insolens.

                            Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum
                            essent virtute mea, ei copiosae tacimates mnesarchum vix. Nec an simul
                            theophrastus. Nam vide saperet eloquentiam ex. Zril deserunt volutpat
                            id usu, laudem mediocrem eu pro. Per consetetur </p>

                            <code> var x = [1,24,5,7]; </code>

                            <!-- **** STRINGS **** -->

                            <h5>Arrays? Let's talk about Strings</h5>

                            <p>umus sensibus qui an, has nominavi ponderum efficiantur at. Mei elitr
                              scripta sententiae no, erat nominati ne sea. Ei vix luptatum consetetur
                              intellegebat. Vix tacimates tincidunt intellegam ut, quo graece
                              maluisset intellegat an, cu inani sanctus pro. An oblique euripidis his,
                              ei aliquam epicuri percipit eum. Ei explicari evertitur incorrupte nec,
                              denique ocurreret ne nam.

                              An duo malis epicuri consequat, duo timeam temporibus consequuntur an.
                              Ut tantas scaevola vis. In per propriae concludaturque, quas dicta sea
                              an, no minim laudem mei. Summo scribentur has ea, vel ne mollis menandri
                              praesent. An mel movet insolens.

                              Id qui dicant indoctum. Quo autem qualisque assueverit ex, at solum
                              ess</p>

                              <code>
                                var name = "Steve";
                              </code>

                              <!-- **** CONSOLE.LOG **** -->

                              <h5>Now let's print or Console.log</h5>

                              <p> eritus volumus sensibus qui an, has nominavi ponderum
                                efficiantur at. Mei elitr scripta sententiae no, erat nominati ne
                                sea. Ei vix luptatum consetetur intellegebat. Vix tacimates
                                tincidunt intellegam ut, quo graece maluisset intellegat an, cu
                                inani sanctus pro. An oblique euripidis his, ei aliquam epicuri
                                percipit eum. Ei explicari evertitur incorrupte nec, denique
                                ocurreret ne nam.

                                An duo malis epicuri consequat, duo timeam temporibus consequuntur
                                an. Ut tantas scaevola vis. In per propriae concludaturque, quas
                                dicta sea an, no minim laudem mei. Summo scribentur has ea, vel ne
                                mollis menandri praesent. An mel movet insolens.

                                Id qui dicant indoctum. Quo autem qualisque assueverit ex, at
                                solum essent virtute mea, ei copiosae tacimates mnesarchum vix.
                                Nec an simul theophrastus. Nam vide saperet eloquentiam ex. Zril
                                deserunt volutpat id usu </p>

                                <code>
                                  var x = "Hello World"; <br>
                                  Console.log(x);
                                </code>

                                <!-- **** COMMENTS **** -->

                                <h5>Comments</h5>

                                <p>Comments are a wonderful thing to have. They are like side notes to your code. You can use
                                comments for self reminders or what this certain block of code is doing. It will not interfere with your
                                code. To comment highlight the code and if you have a mac go ahead and press command and /.
                                Another way is using // or /* ... */. Below is an example.</p>

                                  <code> function greetSomeone(person) {  <br>
                                    if (person == "Martin")        // Check whether the person is Martin  <br>
                                    { console.log("Hey there);  <br>
                                  } else {  <br>
                                    console.log("Greetings Earthling!");  //print String  <br>
                                  } <br>
                                } <br>
                                    </code>
                                  </div>
