<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Algorithm App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li><a href="#docs">Docs</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#dashboard">Dashboard</a></li> -->
        <li><a class="waves-effect waves-light btn modal-trigger" href="#register">Register</a></li>
        <li><a href="#login">Log In</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>About</h2>
    <p class="flow-text">The Algorithm App includes Category based algorithms that you can work on live with other users. Each algorithm is has an expiration time before which users can begin working the algorithm, check their solution with our solution, submit their solution, or have a live chat with other users that are concurrently working on the same algorithm.</p>

    <p class="flow-text">After the user checks their solution against our solution, they can submit their solution which gets added to their user profile allowing them to keep track of their past algorithms.</p>

</div>


<div id="register" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
