html, body {
   height: 100%;
   min-height: 100%;
   position: relative;
   font-family: "proxima-nova",sans-serif;
}


.show{
  margin:20px;
}

.move{
  padding-top: 50px;
}

.move h5{
  margin-bottom: 30px;
}

.wrap {
   height: 100%;
}

.right-col {
   width:25%;
   padding-left:30px;
   height: 700px;
   overflow: scroll;
   border-left:1px solid rgba(240,109,113,0.3)
}

.left-col {
   width: 70%;
   float: left;
   height: 100%;
   position: relative;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
   display: block;
   background-color: #fff;
}
